<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>

<div class="container">
    <div th:replace="~{base :: titulo('Novo Pedido')}"></div>
    <div class="card mt-3">
        <form th:object="${cadastroUsuarioDTO}" class="card-body" th:action="@{/pedido/novo}" method="POST">
            <div class="form-group mb-3">
                <label for="nomeProduto">Produto</label>
                <input th:errorclass="is-invalid" class="form-control" name="nomeProduto" placeholder="Nome do produto"/><!-- th:field="*{nome}" -->
                <small>Informe o nome do produto.</small>
                <div class="invalid-feedback" th:errors="*{nomeProduto}">
                    campo nome nao pode ser invalido
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="valor">Valor</label>
                <input th:errorclass="is-invalid" class="form-control" name="valor" placeholder="Valor do produto"/> <!--th:field="*{valor}"-->
                <small>Informe o valor do produto.</small>
                <div class="invalid-feedback" th:errors="*{valor}">
                    campo nome nao pode ser invalido
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="urlProduto">URL do produto</label>
                <input th:errorclass="is-invalid" class="form-control" name="urlProduto" placeholder="url do produto"/><!-- th:field="*{urlProduto}" -->
                <small>Busque em um site e informe a url do produto.</small>
                <div class="invalid-feedback" th:errors="*{urlProduto}">
                    campo nome nao pode ser invalido
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="urlImagem">URL da imagem</label>
                <input th:errorclass="is-invalid" class="form-control" name="urlImagem" placeholder="url da imagem"/><!-- th:field="*{urlImagem}" -->
                <small>Copie a url de uma boa imagem do produto escolhido.</small>
                <div class="invalid-feedback" th:errors="*{urlImagem}">
                    campo nome nao pode ser invalido
                </div>
            </div>
            <div class="form-group mb-3">
                <label>Descrição</label>
                <textarea class="form-control" name="descricao" placeholder="descrição do produto"></textarea>
                <small>Informe a descrição detalhada do produto para ajudar o comprador.</small>
            </div>
            <button class="btn btn-success" type="submit">Cadastrar</button>
        </form>
    </div>
</div>
</body>
</html>