<html lang="en">
<head th:replace="~{base :: head}"></head>
    <body>
        <div class="container">
            <h1 class="orange-letter text-center mb-4 mt-2">MEUS PETS</h1>
            <a class="justify-content-end mr-2" href="/pet/cadastro"> <button class="btn btn-outline-dark my-2 my-sm-0">Cadastrar Pet</button></a>
            <div class="card mt-3 mb-3" th:each="pet : ${meuspets}">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-8 mb-3">
                            <h3 class="orange-letter">Nome: <span th:text="${pet.nomePet}"></span></h3>
                            <h3 class="orange-letter">Status: <span th:text="${pet.status}"></span></h3>
                        </div>
                        <div class="col-12 col-sm-4 mb-3">
                            <th:block th:switch="${pet.urlImagem}">
                                <img th:case="null" class="img-thumbnail" th:src="${pet.urlImagem}" src=""/>
                                <img th:case="*" class="img-thumbnail" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/65761296352685.5eac4787a4720.jpg"/>
                            </th:block>
                        </div>
                    </div>
                    <div th:if="${pet.status == 'EM_DOACAO'}">
                        <a th:href="@{/responsavel/aceiteadocao/{id} (id=${pet.id_pet})}">
                            <button class="btn btn-primary justify-content-center" type="button">Aceitar adoção</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>