<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{base :: head}">
    <meta charset="utf-8">
    <style>
        .container-fluid {
            display: flex;
            justify-content: space-between;
        }
        .nome-pet{
            color: #F96D17;
            display: inline-block;
        }
        .row { /*border: 1px solid red;*/
            margin-right: 30%;

        }
        img{
            width: 50%;
            height: 50%;
        }
    </style>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <a class="mb-2" href="/usuario/home">
                <h4> &#8592; Voltar para o início</h4>
            </a>
            <div th:object="${pet}" class="ml-4 mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-8 mb-3">
                            <h3 class="orange-letter">Nome: <span th:text="${pet.nomePet}"></span></h3>
                            <div class="row mb-2">
                                <div class="col-md-3">Especie: <span th:text="${pet.especie}"></span></div>
                                <div class="col-md-3">Raca: <span th:text="${pet.raca}"></span></div>
                                <div class="col-md-3">Porte: <span th:text="${pet.porte}"></span></div>
                                <div class="col-md-3">Gênero: <span th:text="${pet.sexo}"></span></div>
                            </div>
                            <div class="row mb-2">
                                <div th:if="${pet.idadeAnos == 0}" class="col-md-4"><span th:text="${pet.idadeAnos}"></span> anos</div>
                                <div th:unless="${pet.idadeAnos == 0}" class="col-md-4"><span th:text="${pet.idadeAnos}"></span> meses</div>
                                <div class="col-md-4"><span th:if="${pet.castrado == true}" th:text="Castrado"></span></div>
                            </div>
                            <h4>Descrição:</h4>
                            <div><span th:text="${pet.descricao}"></span></div>
                        </div>
                        <div class="col-12 col-sm-4 mb-3">
                            <th:block th:switch="${pet.urlImagem}">
                                <img th:case="null" class="img-thumbnail" th:src="${pet.urlImagem}" src=""/>
                                <img th:case="*" class="img-thumbnail" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/65761296352685.5eac4787a4720.jpg"/>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <a th:href="@{/adotante/interesseadotar/{id} (id=${pet.id_pet})}">
                <button class="btn btn-primary justify-content-center" type="button">Adotar</button>
            </a>
        </div>
    </div>
</body>
</html>