<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">
    
    <link rel="stylesheet" href="css/carousel.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script>
      
    </script>
</head>

<body>
    <header class="row logo-container p-0">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

            <div class="p-3 d-flex">
                <img src="../images/patinha.svg" alt="MDN logo">
                
            </div>

            <a class="navbar-brand" href="https://getbootstrap.com/docs/4.0/examples/carousel/#"> Pet Donation </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">

              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href=">Home <span class="sr-only">Features</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/carousel/#"> Pricing </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="https://getbootstrap.com/docs/4.0/examples/carousel/#"> Community </a>
                </li>
              </ul>

              <button type="button"  id="header-log-in-btn" class="btn btn-primary">Log in</button>
              
              <button type="button" class="btn btn-primary">Register</button>
              
            </div>
          </nav>

    <div th:fragment="logo">
        
            <!-- <div class="p-3 d-flex">
                <img src="../images/patinha.svg" alt="MDN logo">
                <span class="logo ml-2">PetDonation</span>
            </div> -->
        </header>
    </div>
    
    <div th:fragment="rodape">
        <footer class="rodape p-2">
            <img class="ml-3" src="../images/patinha.svg" alt="MDN logo">
            <span class="logo ml-5">PetDonation</span>
            <span class="mr-3">© PetDonation, Inc. 2021!</span>
        </footer>
    </div>



</body>
</html>

