<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{base :: head}">
        <title>PetDonation</title>
    </head>
    <body>
        <header>
            <div class="jumbotron jumbotron-fluid d-flex justify-content-end shadow-sm">
                <div class="container">
                    <div id="topo" class="row">
                        <nav class="navbar navbar-expand-lg col-12 navbar-fixed-top pt-0">
                            <div class="navbar-collapse">
                                <div class="expand-lg mr-auto text-center">
                                    <a class="navbar-brand align-items-center " alt="home">
                                        <img class="ml-3" src="../images/patinha.svg" alt="MDN logo">
                                        <a href="/" > <p id="titulo_logo"> PetDonation </p> </a>
                                    </a>
                                </div>

                                <!-- (Margem Direita (Menu Dropdown)-->
                                <ul class="navbar-nav ml-auto align-items-center">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/login" alt="Login">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/home/cadastro" alt="Login">Cadastro</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- Tag que Engloba Todo o Banner -->
                    <div class="row">
                        <!-- Div que Contém o Texto do Banner -->
                        <div class="coluna-texto-principal col-lg-6 col-md-6 col-sm-12 col-xs-12 expand-lg  ">

                        <span>
                            Bem vindo à plataforma PetDonation <br> <br>
                            Adote pets <br>
                            Doe seu pet <br> <br>
                            Seguro. Simples. Livre.
                        </span>

                        </div>
                        <!-- Div que Contém a Imagem do Banner -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img id="imagem-principal" class="rounded float-right" src="../images/Wallpaper.png">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div th:replace="~{base :: rodape}"></div>
    </body>
</html>